body {
 background: url("sunset-through-live-oaks.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
 color: white;
 font-family: "Times New Roman", Times, serif;
 min-height: 100%;
 min-width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 display: block;
 font-size: 16px;
 letter-spacing: 2px;
}


.container-fluid {
 position: absolute;
 left: 0;
 right: 0;
 top: 35%;
 margin: 0 auto;
 text-align: center;
}

.row {
 margin: 0 auto;
}

#quote {
 font-size: 2.1em;
 padding-bottom: 5px;
 background-color: rgba(45, 45, 45, 0.1);
}

#quote:after {
 content: ".";
}

#author {
	display: hide;
 font-size: 1.1em;
 font-style: italic;
 padding-bottom: 10px;
}

.buttons {
 display: inline-block;
 padding: 10px;
 border-radius: 5px;
}


.generate:hover {
 cursor: pointer;
}



.tweetthis {
	font-size: 1.5em;
 display: none;
	
}

.tweetthis:hover {
cursor: pointer;
	
}

a,
a:hover {
 color: #fff;
 text-decoration: none;
}

.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-align: center;
 font-size: 0.8em;
 padding-bottom: 10px;
}
