body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
  
.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.main-image {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  border: 3px solid white;
  transition: all .5s;
}

h1 {
  background-color: #e2e2e2;
  padding: 5px;
}

h2 {
	background-color: #e2e2e2;
	padding: 2px;
}
.section-title {
  text-transform: uppercase;
  style-type: bold;
}
